{% extends 'core/base.html' %}


{% block title %} Profil {% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Profil użytkownika {{ profile.user.username }}</h2>
            <div class="flex flex-col items-center mb-6">
            <img 
                src="{{ profile.avatar.url }}" 
                alt="Avatar" 
                class="w-32 h-32 rounded-full object-cover border-4 border-blue-100 mb-4"
            >
        </div>

        {% if request.user == profile.user %}
            <form method="POST" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="id_avatar">
                        Zdjęcie profilowe
                    </label>
                    {{ form.avatar }}
                </div>

                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="id_bio">
                        Opis
                    </label>
                    {{ form.bio }}
                </div>

                <div class="text-center">
                    <button 
                        type="submit" 
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105"
                    >
                        Zapisz zmiany
                    </button>
                </div>
            </form>
        {% else %}
            <p class="text-gray-600 text-center">{{ profile.bio }}</p>
        {% endif %}
    </div>
    
</div>
<div class="mt-8">
    <h3 class="text-xl font-semibold mb-4 text-center">Twoje przedmioty</h3>
    <div class="bg-gray-100 rounded-xl p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for item in items %}
            <a href="{% url 'item:detail' item.id %}" class="block">
                <div class="bg-gray-100 rounded-xl overflow-hidden shadow-md hover:shadow-lg transition-shadow">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="w-full h-64 object-cover"> 
                    {% else %}
                        <div class="h-64 bg-gray-200 flex items-center justify-center text-gray-500">
                            Brak zdjęcia
                        </div>
                    {% endif %}

                    <div class="p-4 flex justify-between items-center">
                        <h3 class="text-xl font-semibold">{{ item.name }}</h3>
                        <p class="text-gray-500 px-6 font-bold text-lg">{{ item.price }} zł</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p class="text-gray-500 col-span-3 text-center">Nie masz jeszcze żadnych przedmiotów.</p>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}