{% extends 'core/base.html' %}

{% block title %}HWserwis{% endblock %}

{% block content %}
  <!-- Sekcja główna z jednolitym tłem #2E294E -->
  <section class="mt-6 px-6 py-6 bg-transparent rounded-xl">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for item in items %}
        <a href="{% url 'item:detail' item.id %}" class="block">
          <div class="bg-[#2E294E] text-white rounded-xl overflow-hidden shadow-md hover:shadow-[#92140C] transition-shadow duration-300">
            {% if item.image %}
              <img src="{{ item.image.url }}" class="w-full h-64 object-cover">
            {% else %}
              <div class="h-64 bg-[#3A3160] flex items-center justify-center text-gray-400 text-2xl">
                🚗 Brak zdjęcia
              </div>
            {% endif %}

            <div class="p-4 flex justify-between items-center">
              <h3 class="text-xl font-bold">{{ item.name }}</h3>
              <p class="text-yellow-300 font-extrabold text-lg">{{ item.price }} zł</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
