
{% extends 'core/base.html' %}

{% block title %} Items {% endblock %}

{% block content %}
<div class="pb-6 grid grid-cols-12 gap-4">
    <div class="col-span-2">
        <form method="get">
            <input name="q" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Znajdz uzytkownika">
            
            <button class="mt-2 w-full py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">SZUKAJ</button>
        </form>

    </div>

    <div class="col-span-10">
        <div class="bg-gray-100 rounded-xl p-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6">
            {% for profile in profiles %}
                    <div class="bg-white shadow-md p-4 rounded-lg text-center">
                        <img src="{{ profile.avatar.url }}" alt="Avatar" class="w-20 h-20 mx-auto rounded-full object-cover">
                        <h3 class="mt-2 text-lg font-bold">{{ profile.user.username }}</h3>
                        <div class="mt-4">
                            <div class="mt-4">
                                {% if request.user != profile.user %}
                                    <a href="{% url 'user:profile' profile.user.username %}" class="bg-green-500 text-white p-2 rounded hover">Profil</a>
                                    <a href="{% url 'conversation:new_with_user' profile.user.id %}" class="bg-gray-500 text-white p-2 rounded">Wiadomość</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-gray-600 col-span-3 text-center">Brak wyników</p>
                {% endfor %}
        </div>
    </div>
</div>    

{% endblock %}


