{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-12">
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-xl mb-8">
            <div class="p-8 text-center">
                <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="w-32 h-32 rounded-full object-cover border-4 border-blue-100 mx-auto mb-4">
                
                <h2 class="text-2xl font-bold mb-2">{{ user.username }}</h2>
               
                <p class="text-gray-600 break-words">{{ user.profile.bio }}</p>
            </div>
        </div>

        <h2 class="text-2xl text-center mb-8">Twoje przedmioty</h2>

        <div class="bg-gray-100 rounded-xl p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for item in items %}
                <a href="{% url 'item:detail' item.id %}" class="block">
                    <div class="bg-gray-100 rounded-xl overflow-hidden shadow-md hover:shadow-lg transition-shadow">
                        {% if item.image %}
                            <img src="{{ item.image.url }}" class="w-full h-64 object-cover"> 
                        {% else %}
                            <div class="h-64 bg-gray-200 flex items-center justify-center text-gray-500">
                                Brak zdjęcia
                            </div>
                        {% endif %}

                        <div class="p-4 flex justify-between items-center">
                            <h3 class="text-xl font-semibold">{{ item.name }}</h3>
                            <p class="text-gray-500 px-6 font-bold text-lg">{{ item.price }} zł</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}